<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite"
       parallel="classes"
       thread-count="1">

    <test name="AutomationTests">
        <packages>
            <package name="com.jfsoftwareservices.api"/>
            <package name="com.jfsoftwareservices.ui"/>
        </packages>
    </test>

</suite>