<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="UI and API Test Suite"
       parallel="tests"
       thread-count="1">

    <test name="LoginBrowsePurchase">
        <classes>
            <class name="com.jfsoftwareservices.ui.LoginBrowsePurchaseTest"/>
        </classes>
    </test>

    <test name="CartContentsRemoval">
        <classes>
            <class name="com.jfsoftwareservices.ui.CartContentsRemovalTest"/>
        </classes>
    </test>

    <test name="CartTest">
        <classes>
            <class name="com.jfsoftwareservices.ui.CartTest"/>
        </classes>
    </test>

    <test name="LoginTest">
        <classes>
            <class name="com.jfsoftwareservices.ui.LoginTest"/>
        </classes>
    </test>

     <test name="LoginApiTest">
        <classes>
            <class name="com.jfsoftwareservices.api.LoginApiTest"/>
        </classes>
    </test>

    <test name="OrderHistoryLookup">
        <classes>
            <class name="com.jfsoftwareservices.ui.OrderHistoryLookupTest"/>
        </classes>
    </test>

</suite>